<div class="main-column-wrapper">
	<!-- BEGIN .full-width -->
	<div class="full-width">
		<div class="post-title">
			<b>Archive</b>
		</div>
		<!-- BEGIN .archive -->
		<div class="archive">
			<!-- BEGIN .row -->
			<div class="row">
				<div class="category">
					<div class="sidebar-title">
						<b>Technology</b>
					</div>
					<ul>
						<% for article in @articles %>
						<li>
							<%= link_to article.title , article_path(article) %>
						</li>
						
						<% end %>
					</ul>
					<p>
						<a href="#" class="more-link"><span>More about technology</span></a>
					</p>
				</div>
				<div class="category">
					<div class="sidebar-title">
						<b>Movies</b>
					</div>
					<ul>
						<% for article in @articles %>
						<li>
							<%= link_to article.title , article_path(article) %>
						</li>
						
						<% end %>
					</ul>
					<p>
						<a href="#" class="more-link"><span>More about movies</span></a>
					</p>
				</div>
				<div class="category">
					<div class="sidebar-title">
						<b>Games &amp; entertainment</b>
					</div>
					<ul>
						<% for article in @articles %>
						<li>
							<%= link_to article.title , article_path(article) %>
						</li>
						
						<% end %>
					</ul>
					<p>
						<a href="#" class="more-link"><span>More about games &amp; entertainment</span></a>
					</p>
				</div>
				<!-- END .row -->
			</div>
			<!-- BEGIN .row -->
			<div class="row">
				<div class="category">
					<div class="sidebar-title">
						<b>Music</b>
					</div>
					<ul>
						<li>
							<a href="#">Aenean iaculis, risus eget sollicitudin pretiumligula</a>
						</li>
						<li>
							<a href="#">Vestibulum ante ipsum primis in faucibus</a>
						</li>
						<li>
							<a href="#">Maecenas vitae tortor ac sem luctus tinciduntvit placerat vel at velit</a>
						</li>
						<li>
							<a href="#">Phasellus eleifend, est sit amet tincidunt blandit, mauris tellus tempus sem</a>
						</li>
						<li>
							<a href="#">Vestibulum ante ipsum primis in faucibus</a>
						</li>
						<li>
							<a href="#">Tivamus sollicitudin, neque rutrum</a>
						</li>
					</ul>
					<p>
						<a href="#" class="more-link"><span>More about music</span></a>
					</p>
				</div>
				<div class="category">
					<div class="sidebar-title">
						<b>Fashion &amp; design</b>
					</div>
					<ul>
						<li>
							<a href="#">Aenean iaculis, risus eget sollicitudin pretiumligula</a>
						</li>
						<li>
							<a href="#">Vestibulum ante ipsum primis in faucibus</a>
						</li>
						<li>
							<a href="#">Maecenas vitae tortor ac sem luctus tinciduntvit placerat vel at velit</a>
						</li>
						<li>
							<a href="#">Phasellus eleifend, est sit amet tincidunt blandit, mauris tellus tempus sem</a>
						</li>
						<li>
							<a href="#">Vestibulum ante ipsum primis in faucibus</a>
						</li>
						<li>
							<a href="#">Tivamus sollicitudin, neque rutrum</a>
						</li>
					</ul>
					<p>
						<a href="#" class="more-link"><span>More about fashion &amp; design</span></a>
					</p>
				</div>
				<div class="category">
					<div class="sidebar-title">
						<b>Automotive</b>
					</div>
					<ul>
						<li>
							<a href="#">Aenean iaculis, risus eget sollicitudin pretiumligula</a>
						</li>
						<li>
							<a href="#">Vestibulum ante ipsum primis in faucibus</a>
						</li>
						<li>
							<a href="#">Maecenas vitae tortor ac sem luctus tinciduntvit placerat vel at velit</a>
						</li>
						<li>
							<a href="#">Phasellus eleifend, est sit amet tincidunt blandit, mauris tellus tempus sem</a>
						</li>
						<li>
							<a href="#">Vestibulum ante ipsum primis in faucibus</a>
						</li>
						<li>
							<a href="#">Tivamus sollicitudin, neque rutrum</a>
						</li>
					</ul>
					<p>
						<a href="#" class="more-link"><span>More about automotive</span></a>
					</p>
				</div>
				<!-- END .row -->
			</div>
			<!-- END .archive -->
		</div>
		<!-- END .full-width -->
	</div>
	<div class="clear">
		&nbsp;
	</div>
	<!-- END .main-column-wrapper -->
</div>

