<div class="sidebar">
	<!-- BEGIN .sidebar-item .latest-news -->
	<div class="sidebar-item">
		<div class="latest-news">
			<div class="sidebar-title">
				<b>Latest Jobs</b>
			</div>
			<!-- BEGIN .list -->
			<div class="list">
				<!-- BEGIN .item -->
				
				<% for job in @jobs %>
				<div class="item">
					<div class="image">
						<%= link_to image_tag(job.image.url, :size => "60x60", :class => "image"), job_path(job) %>

					</div>
					<div class="text">
						<%= link_to job.title, job_path(job) %>
						
						<p>
							<br /> <%= job.company %>
						</p>
					</div>
					<!-- END .item -->
				</div>
				<% end %> <!-- BEGIN .item -->
				<!-- END .list -->
			</div>
			<p class="show-all">
				<a href="#" class="btn-1 btn-1-color-default"><span>Show All Latest Jobs</span></a>
			</p>
		</div>
		<!-- END .sidebar-item .latest-news -->
	</div>
	<!-- END .sidebar -->
</div>