<div class="homepage-slider-wrapper">
	<!-- BEGIN .homepage-slider -->
	<div class="homepage-slider">
		<div id="homepage-slider">
			<% for f_p_article in @f_p_articles %>
			<%= link_to image_tag(f_p_article.image.url(:banner), :alt => f_p_article.title),"#", :class => "featured-image" %> 
			<% end %>
		</div>
		<div id="navigation"></div>
		<div id="control"></div>
		<div class="shadow">
			&nbsp;
		</div>
		<!-- END .homepage-slider -->
	</div>
	<!-- END .homepage-slider-wrapper -->
</div>